In [1]:
import pandas as pd

In [53]:
#Estado SP RJ MG RS PR
cidades_br = pn.DataFrame({
    'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre','Curitiba'],
    'estado': ['SP', 'RJ', 'MG', 'RS','RP'],
    'População em milhões': [12.31, 6.72, 2.98, 1.54, 2.89],
    'Capital': [True, True, True, True, True],
})

In [48]:
print(cidades_br)

           cidade estado  População em milhões  Capital
0       São Paulo     SP                 12.31     True
1  Rio de Janeiro     RJ                  6.72     True
2  Belo Horizonte     MG                  2.98     True
3    Porto Alegre     RS                  1.54     True
4        Curitiba     RP                  2.89     True

In [25]:
print(cidades_br.head(3))

           cidade estado  População em milhões  Capital
0       São Paulo     SP                 12.31     True
1  Rio de Janeiro     RJ                  6.72     True
2  Belo Horizonte     MG                  2.98     True

In [42]:
print(cidades_br.sample(2))

           cidade estado  População em milhões  Capital
3    Porto Alegre     RS                  1.54     True
2  Belo Horizonte     MG                  2.98     True

In [60]:
cidades_br['Área (km²)'] = [1521, 1200, 331, 496, 435]

In [61]:
cidades_br.loc[cidades_br['cidade'] == 'Porto Alegre', 'Capital'] = False
cidades_br.loc[cidades_br['cidade'] == 'Curitiba', 'Capital'] = False

In [69]:
cidades_br.columns = ['Estado' , 'UF', 'Habitantes (M)', 'É Capital', 'Tamanho (km²)']

In [70]:
print(cidades_br.describe())

       Habitantes (M)  Tamanho (km²)
count        5.000000       5.000000
mean         5.288000     796.600000
std          4.372753     530.420871
min          1.540000     331.000000
25%          2.890000     435.000000
50%          2.980000     496.000000
75%          6.720000    1200.000000
max         12.310000    1521.000000

In [76]:
print(cidades_br[cidades_br['Habitantes (M)'] > 1.0])

           Estado  UF  Habitantes (M)  É Capital  Tamanho (km²)
0       São Paulo  SP           12.31       True           1521
1  Rio de Janeiro  RJ            6.72       True           1200
2  Belo Horizonte  MG            2.98       True            331
3    Porto Alegre  RS            1.54      False            496
4        Curitiba  RP            2.89      False            435

In [77]:
cidades_br.drop('Tamanho (km²)', axis=1, inplace=True)

In [80]:
print(cidades_br.iloc[0])

Estado            São Paulo
UF                       SP
Habitantes (M)        12.31
É Capital              True
Name: 0, dtype: object

In [81]:
print(cidades_br.iloc[1:4])

           Estado  UF  Habitantes (M)  É Capital
1  Rio de Janeiro  RJ            6.72       True
2  Belo Horizonte  MG            2.98       True
3    Porto Alegre  RS            1.54      False

In [82]:
print(cidades_br.iloc[[0, 4], [1, 2]])

   UF  Habitantes (M)
0  SP           12.31
4  RP            2.89